In [ ]:
## Importar Bibliotecas

import pandas as pd
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt
from google.colab import files

In [ ]:
#conectar ao Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Diego Pereira de Oliveira
# Dados do Enem 2020, esse banco foi diminuido e feito um breve tratamento abaixo
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/DB/MICRODADOS_ENEM_2020_teste.csv", engine='python', encoding= 'unicode_escape', sep= ';')

In [ ]:
df

      NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  ...  Q022  Q023  Q024  Q025
0      2,00006E+11    2020               11       F  ...   NaN   NaN   NaN   NaN
1      2,00001E+11    2020               11       M  ...   NaN   NaN   NaN   NaN
2      2,00002E+11    2020                4       F  ...     A     A     A     A
3      2,00002E+11    2020                2       M  ...   NaN   NaN   NaN   NaN
4      2,00002E+11    2020                4       F  ...     B     A     A     B
...            ...     ...              ...     ...  ...   ...   ...   ...   ...
57599  2,00001E+11    2020                3       F  ...     B     A     A     B
57600  2,00001E+11    2020                3       F  ...     E     B     B     B
57601  2,00005E+11    2020                5       M  ...     B     A     A     B
57602  2,00003E+11    2020                7       F  ...     D     A     B     B
57603  2,00004E+11    2020                3       M  ...     D     A     B     B

[57604 rows x 76 columns]

In [ ]:
df.dropna(inplace=True)
df

      NU_INSCRICAO  NU_ANO  TP_FAIXA_ETARIA TP_SEXO  ...  Q022  Q023  Q024  Q025
36     2,00003E+11    2020                3       F  ...     D     B     A     A
65     2,00003E+11    2020                3       F  ...     C     A     A     A
84     2,00006E+11    2020                2       F  ...     E     A     A     A
89     2,00004E+11    2020                2       F  ...     C     A     B     B
93     2,00003E+11    2020                4       M  ...     D     A     C     B
...            ...     ...              ...     ...  ...   ...   ...   ...   ...
57545  2,00003E+11    2020                3       M  ...     E     B     B     B
57550  2,00007E+11    2020                2       M  ...     E     A     B     A
57586  2,00006E+11    2020                2       M  ...     E     A     A     B
57588  2,00002E+11    2020                2       M  ...     D     A     C     B
57589  2,00003E+11    2020                3       F  ...     B     A     A     B

[8526 rows x 76 columns]

In [ ]:
# Imprimir os dados para fazer o DASHBOARD
#df.to_excel('MICRODADOS_ENEM_2020_teste.xlsx')
#files.download('MICRODADOS_ENEM_2020_teste.xlsx')

#1 - Afirma√ß√µes

In [ ]:
p1 = df.filter(items=['NU_INSCRICAO','TP_SEXO'])

In [ ]:
#Quantidade do sexo feminino que faz a prova
p1.groupby('TP_SEXO').count()

         NU_INSCRICAO
TP_SEXO
F                5587
M                2939

In [ ]:
p2 = df.filter(items=['NU_NOTA_REDACAO','TP_SEXO'])

In [ ]:
#M√©dia de notas na reda√ß√£o em cada sexo
p2.groupby('TP_SEXO').mean()

         NU_NOTA_REDACAO
TP_SEXO
F             683.318418
M             654.419871

In [ ]:
p3 = df.filter(items=['NU_INSCRICAO','Q025'])

In [ ]:
#Internet em casa
p3.groupby('Q025').count()

      NU_INSCRICAO
Q025
A             1042
B             7484

In [ ]:
p4 = df.filter(items=['NU_INSCRICAO','Q022'])
p5 = df.filter(items=['NU_INSCRICAO','Q024'])
p6 = df.filter(items=['NU_INSCRICAO','Q006'])
p7 = df.filter(items=['NU_INSCRICAO','SG_UF_ESC'])

In [ ]:
#Telefone celular em casa (A)
p4.groupby('Q022').count()

      NU_INSCRICAO
Q022
A              164
B             1146
C             2397
D             2867
E             1952

In [ ]:
#Computador em casa (A)
p5.groupby('Q024').count()

      NU_INSCRICAO
Q024
A             3792
B             3647
C              727
D              252
E              108

In [ ]:
#Renda at√© 1.045,00 (B)
p6.groupby('Q006').count()

      NU_INSCRICAO
Q006
A              507
B             2729
C             1463
D             1021
E              602
F              579
G              516
H              312
I              194
J              106
K               74
L               63
M               73
N               68
O               69
P               64
Q               86

In [ ]:
#Inscritos (MG, SP, RJ e ES)
p7.groupby('SG_UF_ESC').count()

           NU_INSCRICAO
SG_UF_ESC
AC                   17
AL                  178
AM                   72
AP                   23
BA                  544
CE                 1071
DF                  140
ES                  242
GO                  400
MA                  276
MG                  706
MS                   69
MT                  106
PA                  297
PB                  378
PE                  595
PI                  247
PR                  224
RJ                  627
RN                  237
RO                   60
RR                   12
RS                  270
SC                  213
SE                  184
SP                 1283
TO                   55